<% if object.tags(:url).size > 0 %>
<h3>Url:</h3>
<ul id="<%= anchor_for(object) %>">  
  <% object.tags(:url).each do |url| %>
  <li> 
    <span><%= url.text %></span>
    <span style="float:right;"><%= "(INTERNAL)" if @internal %></span>
  </li>
  <% end %>
</ul>
<% end %>
