<% if object.has_tag?(:request_field) %>
  <h3>Request Field:</h3>
  <ul class="request_field">
    <% @tags.each do |tag| %>
      <li class="<%= tag.tag_name %>">
        <span class="type"><%= format_types(tag.types) %></span>
        <span class="name"><%= tag.name %></span>
        <% if tag.text && !tag.text.empty? %>
          &mdash; <%= tag.text %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>