<% if object.has_tag?(:request_field) %>
	<div class="api_action_header">
  	Request Field:
	</div>

	<div class="api_points_container">	
  	<ul class="request_field">
    	<% @tags.each do |tag| %>
      	<li class="<%= tag.tag_name %>">
        	<span class="api_points_text"><%= format_types(tag.types) %></span>
        	<span><%= tag.name %></span>
					<span class="api_points_text">
        		<% if tag.text && !tag.text.empty? %>
          		&mdash; <%= tag.text %>
        		<% end %>
					</span>
      	</li>
    	<% end %>
  	</ul>
	</div>
<% end %>