<div id="synctv_footer_container">
	<div id="synctv_footer">

		<div id="footer_section">
			<div id="footer_section_title">
				Features
			</div>
			<div id="footer_section_links">
				<a href="http://www.synctv.com/">Home</a> <br>
				<a href="/devices">Devices</a> <br>
				<a href="/platform">SyncTV Platform</a> <br>
			</div>
		</div>
		<div id="footer_section">
			<div id="footer_section_title">
				Clients
			</div>
			<div id="footer_section_links">
				<a href="/clients">NBC Universal</a> <br>
				<a href="/clients">Avail-TVN</a> <br>
				<a href="/clients">Kidlet</a> <br>
			</div>
		</div>
		<div id="footer_section">
			<div id="footer_section_title">
				Company
			</div>
			<div id="footer_section_links">
				<a href="/news">News</a> <br>
				<a href="/about">About SyncTV</a> <br>
				<a href="/contact">Contact Us</a> <br>
			</div>
		</div>
		<div class="clearer" style="clear: both;">
		</div>
		<div id="synctv_footer_copyright">
			Copyright &copy; <r:date for="now" format="%Y" />, SyncTV Corporation. <a href="/legal/site-terms">All rights reserved.</a>
		</div>
	</div>
</div>
