<div id="arkena_footer_container">
  <div id="arkena_footer">
    <div id="footer_section">
      <div id="footer_section_title">Solutions</div>
      <div id="footer_section_links">
        <a href="http://www.arkena.com/solutions/over_the_top_content/">Over the top content</a><br>
        <a href="http://www.arkena.com/solutions/online-video-platform/">Online Video Platform</a><br>
        <a href="http://www.arkena.com/solutions/cloud-4-media/">Cloud4Media</a><br>
        <a href="http://www.arkena.com/solutions/hbbtv/">HBBTV</a><br>
      </div>
    </div>
    <div id="footer_section">
      <div id="footer_section_title">Industries</div>
      <div id="footer_section_links">
        <a href="http://www.arkena.com/industries/media-companies/">Media Companies</a><br>
        <a href="http://www.arkena.com/industries/broadcaster/">Broadcasters</a><br>
        <a href="http://www.arkena.com/industries/content-owners/">Content Owners</a><br>
        <a href="http://www.arkena.com/industries/post-production-houses/">Post-production houses</a><br>
        <a href="http://www.arkena.com/industries/corporate-companies/">Corporate</a><br>
        <a href="http://www.arkena.com/industries/telco-companies/">Operators</a><br>
      </div>
    </div>
    <div id="footer_section">
      <div id="footer_section_title">Arkena</div>
      <div id="footer_section_links">
        <a href="http://www.arkena.com/contact-us/">Contact Us</a> <br>
        <a href="http://www.arkena.com/about-us/">About Us</a> <br>
        <a href="http://www.arkena.com/news/">News</a> <br>
        <a href="http://www.arkena.com/legal-notice/">Legal Notice</a> <br />
      </div>
    </div>
    <div class="clearer" style="clear: both;"></div>
    <div id="arkena_footer_copyright">
        &copy; <r:date for="now" format="%Y" /> | Arkena, a TDF Group Company.
        <!-- #TODO: Manque un lien vers la page “legal” -->
    </div>
  </div>
</div>
