<!DOCTYPE html>
<html>
  <head>
    <%= erb(:headers) %>
  </head>
  <body>
    <script type="text/javascript" charset="utf-8">
      if (window.top.frames.main) document.body.className = 'frames';
    </script>
    
    <div id="header">
      <%= erb(:search) %>
    </div>
    
    <iframe id="search_frame"></iframe>
    
    <div id="content"><%= yieldall %></div>
    
    <%= erb(:footer) %>
  </body>
</html>