<!DOCTYPE html>
<html>
  <head>
    <%= erb(:headers) %>
		<link type="text/css" href="http://general.synctv.com/www/developer/styles.css" rel="stylesheet">
  </head>
  <body>
    <script type="text/javascript" charset="utf-8">
      if (window.top.frames.main) document.body.className = 'frames';
    </script>
    
		<div class="header_container">	
			<div class="header">
				<div id="main_nav">
		      <ul>
		        <li>
		          <a href="http://developer.synctv.com/support">
		            Support
		          </a>
		        </li>
		        <div class="main_nav_separator"></div>
		        <li><a href="http://developer.synctv.com/faq">
		            FAQ
		          </a>
		        </li>
		        <div class="main_nav_separator"></div>
		        <li>
		        	<a href="http://developer.synctv.com/tutorials">
		            Tutorials
		          </a>
		        </li>
		        <div class="main_nav_separator"></div>
		        <li><a href="http://developer.synctv.com/apis">
		            APIs
		          </a>
		        </li>
		        <div class="main_nav_separator"></div>
		        <li>
		          <a href="http://developer.synctv.com/">
		            Developer Home
		          </a>
		        </li>
		      </ul>
		    </div>
				<a id="synctv_logo" href="http://www.synctv.com/">
				</a>
			</div>
		</div>

		<div class="title_container">	
			<div class="title">
				<div id="title_apis">
				</div>
				<div id="sub_nav">
					<ul>		
						<li>
							<a href="http://developer.synctv.com/apis"> 
								Overview 
							</a>
						</li>
						<div class="sub_nav_separator"></div>
						<li>
							<a href="/v2/user/Api/V2/AccountsController.html">
								Client APIs
							</a>
						</li>  
						<div class="sub_nav_separator"></div>
						<li>
							<a href="/v2/admin/Api/V2/AccountsController.html">
								Admin APIs
							</a>
						</li>          
					</ul>
				</div>
			</div>
		</div>

    <div id="page_container"><%= yieldall %></div>
    
    <%= erb(:footer) %>
  </body>
</html>