<!DOCTYPE html>
<html>
  <head>
    <%= erb(:headers) %>
		<link type="text/css" href="http://general.synctv.com/www/developer/styles.css" rel="stylesheet">
  </head>
  <body>
    <script type="text/javascript" charset="utf-8">
      if (window.top.frames.main) document.body.className = 'frames';
    </script>
    
		<div class="header_container">	
			<div class="header">
				<div id="main_nav">
					<ul>		
						<li> <!-- <r:if_url matches="/contact/$">class="current"</r:if_url> --> 
							<a href="<r:snippet name='live_nav_url_base' />/contact"> 
								Contact 
							</a>
						</li>
						<div class="main_nav_separator"></div>
						<li> <!-- <r:if_url matches="/about/">class="current"</r:if_url> --> 
							<!-- note that "$" has been removed to allow for subfolders to receive the same "current" active treatment in the sub nav -->
							<a href="<r:snippet name='live_nav_url_base' />/blog"> 
								Blog 
							</a>
						</li>
						<div class="main_nav_separator"></div>
						<li> <!-- <r:if_url matches="/news/$">class="current"</r:if_url> --> 
							<!-- note that "$" has been removed to allow for subfolders to receive the same "current" active treatment in the sub nav -->
							<a href="<r:snippet name='live_nav_url_base' />/news"> 
								News 
							</a>
						</li>
						<div class="main_nav_separator"></div>
						<li> <!-- <r:if_url matches="/clients/$">class="current"</r:if_url> --> 
							<!-- note that "$" has been removed to allow for subfolders to receive the same "current" active treatment in the sub nav -->
							<a href="<r:snippet name='live_nav_url_base' />/clients"> 
								Clients 
							</a>
						</li>
						<div class="main_nav_separator"></div>
						<li>  <!-- <r:if_url matches="/devices/$">class="current"</r:if_url> --> 
							<a href="<r:snippet name='live_nav_url_base' />/devices"> 
								Devices 
							</a>
						</li>
						<div class="main_nav_separator"></div>
						<li> <!-- <r:if_url matches="/platform/">class="current"</r:if_url> --> 
							<!-- note that "$" has been removed to allow for subfolders to receive the same "current" active treatment in the sub nav -->
							<a href="<r:snippet name='live_nav_url_base' />/platform"> 
								SyncTV Platform 
							</a>
						</li>             
					</ul>
				</div>
				<a id="synctv_logo" href="http://www.synctv.com/">
				</a>
			</div>
		</div>

		<div class="title_container">	
			<div class="title">
				<div id="title_apis">
				</div>
				<div id="sub_nav">
					<ul>		
						<li> <!-- <r:if_url matches="/contact/$">class="current"</r:if_url> --> 
							<a href="http://developer.synctv.com/apis"> 
								Overview 
							</a>
						</li>
						<div class="sub_nav_separator"></div>
						<li> <!-- <r:if_url matches="/about/">class="current"</r:if_url> --> 
							<!-- note that "$" has been removed to allow for subfolders to receive the same "current" active treatment in the sub nav -->
							<a href="http://api.synctv.com/v2/user/"> 
								Developer APIs
							</a>
						</li>  
						<div class="sub_nav_separator"></div>
						<li> <!-- <r:if_url matches="/about/">class="current"</r:if_url> --> 
							<!-- note that "$" has been removed to allow for subfolders to receive the same "current" active treatment in the sub nav -->
							<a href="http://api.synctv.com/v2/admin/"> 
								Admin APIs
							</a>
						</li>          
					</ul>
				</div>
				
			</div>
		</div>


    <div id="page_container"><%= yieldall %></div>
    
    <%= erb(:footer) %>
  </body>
</html>