<!DOCTYPE html>
<html>
  <head>
    <%= erb(:headers) %>
    <link type="text/css" href="http://developer.ott.arkena.com/css/style_arkena.css" rel="stylesheet">
  </head>
  <body>
    <script type="text/javascript" charset="utf-8">
      if (window.top.frames.main) document.body.className = 'frames';
    </script>

    <div class="header_container">
      <div class="header">
        <div id="main_nav">
          <ul>
            <li><a href="/apis/index.html">
              APIs
            </a></li>
            <div class="main_nav_separator"></div>
            <li><a href="/index.html">
              Developer Home
            </a></li>
          </ul>
        </div>
        <a id="arkena_logo" href="/index.html"></a>
        </a>
      </div>
    </div>

    <div class="title_container">
      <div class="title">
        <div id="title_apis">
        </div>
        <div id="sub_nav">
          <ul>
            <li>
              <a href="/apis/index.html">
                Overview
              </a>
            </li>
            <div class="sub_nav_separator"></div>
            <li>
              <a href="/user/index.html">
                Client APIs
              </a>
            </li>
            <div class="sub_nav_separator"></div>
            <li>
              <a href="/admin/index.html">
                Admin APIs
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div id="page_container"><%= yieldall %></div>

    <%= erb(:footer) %>
  </body>
</html>
